body {
  background-color: #f7980d;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: white;
}

.jokes {
  display: flex;
  flex-wrap: wrap;
}

.joke {
  width: 30%;
  background-color: #39aefd;
  border: 1px solid #39aefd;
  color: #ffffff;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
}

.joke:nth-child(3n) {
  margin-right: 0;
}

.loading {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
